h1{
    text-align: center;
}
h4{
    text-align: center;
}
 .portfolio{
    display: inline;
    color: black;
 }
 h3{
    display: inline;
    margin-right: 900px
 }
 p{
    text-align: right;
 }
 img{
    margin-left:
 }